<h1>Welcome</h1>
<!-- table are so web 1.0 ;) -->
<table width="600px"><tr><td>
<p>Persons:
  <ul>
    <% @persons.each do |p| %>
      <li><%= "#{p.first_name} #{p.last_name}" %></li>
    <% end %>
  </ul>
<%= link_to 'create a person', :action => 'create_person' %> - <%= link_to 'delete a person', :action => 'delete_person' %>
</p>
</td><td>
<p>Users:
  <ul>
    <% @users.each do |u| %>
      <li>
        <%= "#{u.login} #{u.password}" %>
        (<%= "#{u.first_name} #{u.last_name}" %>)
      </li>
    <% end %>
  </ul>
<%= link_to 'create a user', :action => 'create_user' %> - <%= link_to 'delete a user', :action => 'delete_user' %>
</p>
</td></tr></table>

