<h1>Listing cvs</h1>

<table id="cvs">
  <tr>
    <th>Fisrt Name</th>
    <th>Last Name</th>
    <th>Cv Title</th>
    <th>Cv Subtitle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cvs.each do |cv| %>
  <tr>
    <td><%= cv.person.first_name %></td>
    <td><%= cv.person.last_name %></td>
    <td><%= cv.title %></td>
    <td><%= cv.subtitle %></td>
    <td><%= link_to 'Show', cv %></td>
    <td><%= link_to 'Edit', edit_cv_path(cv) %></td>
    <td><%= link_to 'Destroy', cv, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cv', new_cv_path %>
