<h1>Listing cvs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Subtitle</th>
    <th>Driver license</th>
    <th>Postal address</th>
    <th>Postal code</th>
    <th>Town</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cvs.each do |cv| %>
  <tr>
    <td><%= cv.title %></td>
    <td><%= cv.subtitle %></td>
    <td><%= cv.driver_license %></td>
    <td><%= cv.postal_address %></td>
    <td><%= cv.postal_code %></td>
    <td><%= cv.town %></td>
    <td><%= link_to 'Show', cv %></td>
    <td><%= link_to 'Edit', edit_cv_path(cv) %></td>
    <td><%= link_to 'Destroy', cv, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cv', new_cv_path %>
