<!doctype html>
<html lang="<%= I18n.locale %>">
    <head>
        <title>[Mangouste] <%= controller.action_name %></title>
        <%= stylesheet_link_tag 'main', :media => 'screen' %>
        <%= stylesheet_link_tag 'cvs', :media => 'screen' %>
        <%= stylesheet_link_tag 'scaffold' %>
        <%= javascript_include_tag :defaults %>
        <%= csrf_meta_tag %>
    </head>
    <body>
        <header>
            <h1>The mangouste project</h1>
        </header>
        <nav>
          <ul>Menu:
            <li><%= link_to 'cvs', :controller => 'cvs' %> (doesn't work)</li>
          </ul>
        </nav>
        <div id="content">
            <p class="notice"><%= notice %></p>
            <section><%= yield %></section>
        </div>
        <aside></aside>
        <footer>
            <address>Github:<a href="http://github.com/francisoud/mangouste">The mangouste project</a></address>
        </footer>
    </body>
</html>

